[AUTOUPDATE]
# Checked by LoxBerry when the user enables automatic updates including
# prereleases.

# Version of the new prerelease
VERSION=0.1.0

# Download URL of the ZIP archive
ARCHIVEURL=https://github.com/mschlenstedt/LoxBerry-Plugin-MGiSMART/archive/refs/tags/MGiSMART-V0.1.0.zip

# URL for further information about this release
INFOURL=https://github.com/mschlenstedt/LoxBerry-Plugin-MGiSMART/releases/tag/MGiSMART-V0.1.0
