[AUTOUPDATE]
# Checked by LoxBerry when the user enables automatic updates including
# prereleases.

# Version of the new prerelease
VERSION=1.1

# Download URL of the ZIP archive
ARCHIVEURL=https://github.com/mschlenstedt/LoxBerry-Plugin-MGiSMART/releases/download/MGiSMART-V1.1/MGiSMART-V1.1.zip

# URL for further information about this release
INFOURL=https://github.com/mschlenstedt/LoxBerry-Plugin-MGiSMART/releases/tag/MGiSMART-V1.1
