[AUTOUPDATE]
# Checked by LoxBerry when the user enables automatic updates. If VERSION is
# newer than the installed one, the archive below is downloaded and installed.

# Version of the new release
VERSION=0.1.0

# Download URL of the ZIP archive
ARCHIVEURL=https://github.com/mschlenstedt/LoxBerry-Plugin-MGiSMART/archive/refs/tags/MGiSMART-V0.1.0.zip

# URL for further information about this release
INFOURL=https://github.com/mschlenstedt/LoxBerry-Plugin-MGiSMART/releases/tag/MGiSMART-V0.1.0
